body {
  margin: 10% auto;
  width: 50%;
  height: 75%;
  background-image: url("https://i.stack.imgur.com/p9mUO.jpg");
  }

  h1 {
    color: #e1f5e9;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto; 
  }

  .grid-item {
    display: grid;
    border: 1px solid black;
    margin-top: 10px;
  }

.calculator {
  font-size: large;
  color: #f2d9d5;
}

#first-Number {
  border-width: 3px;
  margin: 5px;
  padding: 3px;
  border-radius: 10px;
  width: 25%;
  margin-left: 2px;
  
}

#first-Number:hover {
  background-color: bisque;
}

#second-Number {
border-width: 3px;
  margin: 5px;
  padding: 3px;
  border-radius: 10px;
  width: 25%;
  margin-left: 2px;
}

#second-Number:hover {
  background-color: bisque;
}

button[type="submit"] {
  font-size: 10px;
  width: 20%;
  padding: 3px;
  border-radius: 10px;
}

button[type="submit"]:hover {
  background-color: darkslategrey;
  color: white;
}

button[type="reset"] {
  font-size: 10px;
  width: 20%;
  padding: 3px;
  border-radius: 10px;
}

button[type="reset"]:hover {
  background-color: darkslategrey;
  color: white;
}

#addition:hover {
  background-color: darkslategrey;
  color: white;
 }

 #addition {
  font-size: 15px;
  border-color: blue;;
 }

 #subtraction {
  font-size: 15px;
  border-color: blue;
 }

 #subtraction:hover {
  background-color: darkslategrey;
  color: white;
 }

 #multiplication {
  font-size: 15px;
  border-color: blue;
 }

 #multiplication:hover {
  background-color: darkslategrey;
  color: white;
 }

 #division {
  font-size: 15px;
  border-color: blue;
 }

 #division:hover {
  background-color: darkslategrey;
  color: white;
 }

 #modulus {
  font-size: 15px;
  border-color: blue;
 }

 #modulus:hover {
  background-color: darkslategrey;
  color: white;
 }

 #result {
  color: white;
 }

 @media (min-width: 700px) {
  .grid-container {
    grid-template-areas:
      "header  header"
      "nav     aside"
      "main   main"
      "footer  banner";
  }

  @media (max-width: 699px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header "
        "nav"
        "aside"
        "main"
        "footer"
        "banner";
  width: 100%;
    
      }

  .grid-item {
    margin: auto;
    width: 250px;
  }

  .calculator {
    margin: auto;
    width: 250px;

  }
}
    





 